
/* ====================================== Custom CSS Code =================================================*/

/* you can add any custom css code for any class, id, tags and anything here, it will be active.. */

body {
  color: #4F4F4F;
}
.meta {
  color: #8d8d8d;
}

a {
    color: #00AEC8;
}

.post-content a:hover {
    text-decoration: underline;
}

.mugshot {
  border-radius: 50%;
  max-width: 180px;
  vertical-align: -9px;
}

.post-content ul, .post-content ol { padding: 5px 0; }

.post-content ul li {
   list-style: square;
   margin-left: 16px;
   padding: 3px 0;
    line-height: 22px;
}

.post-content ol li {
   list-style: decimal;
   margin-left: 16px;
   padding: 3px 0;
    line-height: 22px;
}

.post-content p {
   padding: 7px 0;
    
}
