
<!-- Most Posts -->

<div id="horizontal-tabs" class="bottom">
    <ul class="tabs">
      <li id="tab1">Popular</li>
      <li id="tab2">Recent</li>
    </ul>
<div class="contents">

<div id="content1" class="tabscontent">
  <ul class="most-posts">
    <li>
      <a href="single_post.html"><img src="images/img/blog/thumb-1.jpg" alt="" class="pic-2" /></a>
      <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
      <span class="color">28 June 2012</span>
    </li>
    <li>
      <a href="single_post.html"><img src="images/img/blog/thumb-2.jpg" alt="" class="pic-2" /></a>
      <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
      <span class="color">28 June 2012</span>
    </li>
  </ul>
</div> 

<div id="content2" class="tabscontent">
 <ul class="most-posts">
  <li>
      <a href="single_post.html"><img src="images/img/blog/thumb-2.jpg" alt="" class="pic-2" /></a>
      <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
      <span class="color">28 June 2012</span>
  </li>
  <li>
      <a href="single_post.html"><img src="images/img/blog/thumb-1.jpg" alt="" class="pic-2" /></a>
      <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
      <span class="color">28 June 2012</span>
    </li>
   </ul>
  </div>  

</div><!-- End contents -->

</div><!-- End horizontal-tabs -->

<!-- End -->
