
   <!-- Start Sidebar Widgets -->
   
     <!-- Search Widget -->
     <div class="search top bottom">
     <form action="#">
       <input type="text" class="search" value="Search in blog" onBlur="if(this.value == '') { this.value = 'Search in blog'; }" 
       onfocus="if(this.value == 'Search in blog') { this.value = ''; }" />
       <input type="submit" value="" class="submit-search" />
     </form>
     </div>
     <!-- End -->
     
     <!-- Followers Widget -->
     <div class="box top bottom">
     
       {% include social.html %}
     </div><!-- End -->
     
     <div class="top bottom" style="text-align: center">
       <img src="https://avatars0.githubusercontent.com/u/957535?v=3&s=460" class="mugshot"/>
     </div>
     
     <!-- Text Widget -->
     <h2 class="title bottom-2">Robert Bird <span class="line"></span></h2>
     
     <div class="about-project bottom">
       <p>
         Hi I'm Rob - welcome to my blog! 
        </p><p>
         I love developing and shipping software, I also love to learn. This blog is my journal, a place to record the trials and tribulations as I learn new technologies and techniques.
       </p>
     </div>
     
    {% include categories.html %}
    
    
         
    {% include tags.html %}
             
    <!-- Twitter Feed -->
    <h2 class="title bottom">Twitter Feed <span class="line"></span></h2>
    
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/robfbird" data-widget-id="572139781560496128" width="100%" height="350px">Tweets by @robfbird</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         
    <div class='tweet query'></div><!-- Tweets Code -->
    
         
         
    <!-- End -->
    
     <!-- From Flickr -->
<!--
    <h2 class="title bottom">From Flickr <span class="line"></span></h2>
    
    <ul id="sidebar" class="thumbs"></ul> Flickr Code 
-->
    
    <!-- End -->
    
   
   