<ul class="followers">
  <li>
  <a href="http://uk.linkedin.com/in/robfbird" data="Connect with me on LinkedIn" class="black colorTipContainer"><span class="social-icon linkedin color"></span></a>
      <h4>LinkedIn</h4>
  </li>
  <li>
  <a href="http://twitter.com/robfbird" data="Follow me on Twitter" class="black colorTipContainer"><span class="social-icon twitter color"></span></a>
      <h4>Twitter</h4>
  </li>
  <li>
  <a href="https://plus.google.com/+RobertBirdOnline" data="Say hello on Google+" rel="author" class="black colorTipContainer"><span class="social-icon google_plus  color"></span></a>
      <h4>Google+</h4>
  </li>
  <li>
  <a href="/rss.xml" data="Subscribe to my blog (RSS Feed)" class="black colorTipContainer"><span class="social-icon rss color"></span></a> 
      <h4>RSS</h4>
  </li>
</ul>