
   <!-- ==================== Post 1 ==================== -->
    <div class="one column alpha">
      <div class="date-post"><span class="day">25</span><span class="month">AUG</span></div>
    </div> <!-- End Date -->
   
     <div class="ten columns omega">
     
     <div class="post bottom">
       
      <div class="image-post bottom-2"> 
      
        <div class="flex-container">
         <div class="flexslider3">
          <ul class="slides">
            <li><a href="single_post.html"><img src="images/img/blog/post-image-1.jpg"></a></li>
            <li><a href="single_post.html"><img src="images/img/blog/post-image-2.jpg"></a></li>
          </ul>
         </div>
        </div>
        
      </div><!-- End slider image-post -->
      
      <h2 class="title bottom-2"><a href="single_post.html">The Martians had been repulsed</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-content">
        <p>
          Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. 
          Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl...
        </p>
        <a href="single_post.html" class="button medium color">Read More</a>
      </div><!-- End post-content -->
      
      
      <hr class="top bottom-2" />
      
      <div class="post-meta bottom-2 transparent">
        <div class="meta"><span class="more-items icon gray"></span> <a href="#">Web Design</a> </div><!-- Category -->
        <div class="meta"><span class="user icon gray"></span> By : Admin </div><!-- Author -->
        <div class="meta"><span class="conversation icon gray"></span> With 12 Comments </div><!-- Comments -->
      </div><!-- End post-meta -->
      
      </div><!-- End column post -->
      
     </div> 
     <!-- ==================== End  ==================== -->














     
<!-- ==================== Post 2 ==================== -->
     
     <div class="one column alpha">
      <div class="date-post"><span class="day">25</span><span class="month">AUG</span></div>
    </div> <!-- End Date -->
     
     <div class="ten columns omega">
     
     <div class="post bottom">
       
      <div class="image-post bottom-2"> 
      
        <div class="video-wrap widescreen vimeo">
         <iframe src="http://player.vimeo.com/video/33564825"  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
       </div><!-- End video wrap -->
        
      </div><!-- End video image-post -->
      
      <h2 class="title bottom-2"><a href="single_post.html">The Martians had been repulsed</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-content">
        <p>
          Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. 
          Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl...
        </p>
        <a href="single_post.html" class="button medium color">Read More</a>
      </div><!-- End post-content -->
      
      <hr class="top bottom-2" />
      
      <div class="post-meta bottom-2 transparent">
        <div class="meta"><span class="more-items icon gray"></span> <a href="#">Web Design</a> </div><!-- Category -->
        <div class="meta"><span class="user icon gray"></span> By : Admin </div><!-- Author -->
        <div class="meta"><span class="conversation icon gray"></span> With 12 Comments </div><!-- Comments -->
      </div><!-- End post-meta -->
      
      </div><!-- End column post -->
      
     </div> 
     <!-- ==================== End  ==================== -->
     
     <!-- ==================== Post 3 ==================== -->
     
     <div class="one column alpha">
      <div class="date-post"><span class="day">25</span><span class="month">AUG</span></div>
    </div> <!-- End Date -->
     
     <div class="ten columns omega">
     <div class="post bottom">
       
      <div class="image-post bottom-2"> 
          <a href="single_post.html"><img src="images/img/blog/post-image-2.jpg"></a>
      </div><!-- End single image image-post -->
      
      <h2 class="title bottom-2"><a href="single_post.html">The Martians had been repulsed</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-content">
        <p>
          Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. 
          Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl...
        </p>
        <a href="single_post.html" class="button medium color">Read More</a>
      </div><!-- End post-content -->
      
      <hr class="top bottom-2" />
      
      <div class="post-meta bottom-2 transparent">
        <div class="meta"><span class="more-items icon gray"></span> <a href="#">Web Design</a> </div><!-- Category -->
        <div class="meta"><span class="user icon gray"></span> By : Admin </div><!-- Author -->
        <div class="meta"><span class="conversation icon gray"></span> With 12 Comments </div><!-- Comments -->
      </div><!-- End post-meta -->
      
      </div><!-- End column post -->
      
     </div> 
     <!-- ==================== End  ==================== -->
     
     <hr />
     
     <ul class="pagination color">
          <li><a href="#" class="prev">previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#" class="current">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li>...</li>
          <li><a href="#">50</a></li>
          <li><a href="#">51</a></li>
          <li><a href="#">52</a></li>
          <li><a href="#" class="next">Next</a></li>
        </ul><!-- End pagination color -->
      
   </div><!-- End Posts -->  
   
   
   <!-- Start Sidebar Widgets -->
   <div class="five columns bottom">
   
     <!-- Search Widget -->
     <div class="search top bottom">
     <form action="#">
       <input type="text" class="search" value="Search in blog" onBlur="if(this.value == '') { this.value = 'Search in blog'; }" 
       onfocus="if(this.value == 'Search in blog') { this.value = ''; }" />
       <input type="submit" value="" class="submit-search" />
     </form>
     </div>
     <!-- End -->
     
    
     <!-- Followers Widget -->
     <div class="box top bottom">
     
        <ul class="followers">
        <li>
        <a href="#" data="facbook" class="black colorTipContainer"><span class="social-icon facbook color"></span></a>
        <h4>2000+</h4> <span>Fans</span>
        </li>
        <li>
        <a href="#" data="twitter" class="black colorTipContainer"><span class="social-icon twitter color"></span></a>
        <h4>1500</h4> <span>Followers</span>
        </li>
        <li>
        <a href="#" data="google+" class="black colorTipContainer"><span class="social-icon google_plus  color"></span></a>
        <h4>500</h4> <span>Fans</span>
        </li>
        <li>
        <a href="#" data="Rss" class="black colorTipContainer"><span class="social-icon rss color"></span></a> 
        <h4>5000+</h4> <span>Subscribers</span>
        </li>
        
     </div><!-- End -->
     
     <!-- Text Widget -->
     <h2 class="title bottom-2">Text Widget <span class="line"></span></h2>
     
     <div class="about-project bottom">
       <p>
         Donec seid odio dui. Nullalit libero, alea pharetra augue. Nullam id dolor ideacto vehicula SockMonkee lorem dolor.
         Donec seid odio dui. Nullalit libero, alea pharetra augue. Nullam id dolor ideacto vehicula SockMonkee lorem dolor.
       </p>
     </div>
     
     <!-- Categories -->
     <h2 class="title bottom-2">Categories <span class="line"></span></h2>
     
      <ul class="square-list categories bottom">
        <li><a href="#">Design</a></li>
        <li><a href="#">Awards & Recognition</a></li>
        <li><a href="#">Competitions</a></li>
        <li><a href="#">Travel & Tourism</a></li>
        <li><a href="#">Direct Mail</a></li>
      </ul><!-- End square-list -->
    <!-- End -->
    
    <!-- Most Posts -->
        
      <div id="horizontal-tabs" class="bottom">
      
        <ul class="tabs">
          <li id="tab1">Popular</li>
          <li id="tab2">Recent</li>
        </ul>
        <div class="contents">
        
        <div id="content1" class="tabscontent">
          <ul class="most-posts">
            <li>
              <a href="single_post.html"><img src="images/img/blog/thumb-1.jpg" alt="" class="pic-2" /></a>
              <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
              <span class="color">28 June 2012</span>
            </li>
            <li>
              <a href="single_post.html"><img src="images/img/blog/thumb-2.jpg" alt="" class="pic-2" /></a>
              <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
              <span class="color">28 June 2012</span>
            </li>
          </ul>
        </div> 
        
        <div id="content2" class="tabscontent">
         <ul class="most-posts">
          <li>
              <a href="single_post.html"><img src="images/img/blog/thumb-2.jpg" alt="" class="pic-2" /></a>
              <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
              <span class="color">28 June 2012</span>
          </li>
          <li>
              <a href="single_post.html"><img src="images/img/blog/thumb-1.jpg" alt="" class="pic-2" /></a>
              <p><a href="single_post.html">Donec seid odio dui. Nullalit libero, alea pharetra augue.</a></p>
              <span class="color">28 June 2012</span>
            </li>
           </ul>
          </div>  
        
        </div><!-- End contents -->
        
      </div><!-- End horizontal-tabs -->
    
    <!-- End -->
    
    <!-- Popular Tags -->
    <h2 class="title bottom">Popular Tags <span class="line"></span></h2>
    
    <div class="popular-tags top bottom">
    
    <a href="#">Web Developer</a><a href="#">Branding</a><a href="#">Wordpress</a><a href="#">Web Design</a><a href="#">Logo</a>
    <a href="#">PHP</a><a href="#">Graphic</a><a href="#">Competitions</a><a href="#">Awards & Recognition</a>
    
    </div>
    <!-- End -->
    
    <!-- Twitter Feed -->
    <h2 class="title bottom">Twitter Feed <span class="line"></span></h2>
    
    <div class='tweet query'></div><!-- Tweets Code -->
    
    <!-- End -->
    
     <!-- From Flickr -->
    <h2 class="title bottom">From Flickr <span class="line"></span></h2>
    
    <ul id="sidebar" class="thumbs"></ul><!-- Flickr Code -->
    
    <!-- End -->
    
   
   
   </div><!-- End Sidebar Widgets -->
   
   
   <div class="clearfix"></div>
   
   
   
       
     
  </div><!-- <<< End Container >>> -->
  
  <footer>
    <div class="container">
    
      <div class="four columns">
        <div class="about">
          <h3 class="title">About Us<span class="line"></span></h3>
          <p>
          Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing 
          lipsum aenean orci lorem Asequat. <br /> lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor .
          </p>
        </div>
      </div><!-- End about -->
      
      <div class="four columns">
        <div class="tweets">
          <h3 class="title">Latest tweets<span class="line"></span></h3>
            <div class='tweet query footer'></div><!-- Tweets Code -->
        </div>
      </div><!-- End tweets -->
      
      <div class="four columns">
        <div class="flickr">
          <h3 class="title">Flickr<span class="line"></span></h3>
          <ul id="footer" class="thumbs"></ul> <!-- Flickr Code -->
        </div>
      </div><!-- End flickr -->
      
      <div class="four columns">
        <div class="subscribe">
          <h3 class="title">Subcribe<span class="line"></span></h3>
          <p>Subscribe to our e-mail newsletter to receive updates.</p>
          <form action="#">
            <input type="text" class="mail" value="Enter your Email" onBlur="if(this.value == '') { this.value = 'Enter your Email'; }" 
            onfocus="if(this.value == 'Enter your Email') { this.value = ''; }"/>
            <input type="submit" value="Submit" class="submit" />
          </form>
        </div>
      </div><!-- End subscribe -->
      
      <div class="sixteen columns"><hr class="bottom" /></div>
      
      <div class="eight columns"><span class="copyright">
      © Copyright 2012 <a href="index.html">Crevision</a>. All Rights Reserved. by 
      <a href="http://jozoor.com/" target="_blank" data="Jozoor Team">jozoor</a></span></div>
      
      <div class="eight columns">
        <div class="social">
          <a href="#"><img src="images/icons/twitter.png" alt="" /></a>
          <a href="#"><img src="images/icons/facebook.png" alt="" /></a>
          <a href="#"><img src="images/icons/skype.png" alt="" /></a>
          <a href="#"><img src="images/icons/digg.png" alt="" /></a>
          <a href="#"><img src="images/icons/linkedin.png" alt="" /></a>
          <a href="#"><img src="images/icons/vimeo.png" alt="" /></a>
        </div>
      </div>
    
    </div><!-- End container -->
  </footer><!-- <<< End Footer >>> -->
  
  </div><!-- End wrap -->
  
  <!-- Start Style Switcher -->
  <div class="switcher"></div>
  <!-- End Style Switcher -->
    
</body>
</html>