<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- 
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/skins/blue.css" name="skins"> 
  <link rel="stylesheet" href="/css/layout/wide.css" name="layout"> 
  <link rel="stylesheet" href="/css/icons.css">  
  <link rel="stylesheet" href="/css/rouge.css">  
 -->

  <link rel="stylesheet" href="/css/generated.min.css">  

    
  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon/favicon.ico">
  <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">

</head>
<body>

  <div id="wrap" class="boxed">

  <header>
    <div class="container clearfix">
    
      <div class="one-third column">
        <div class="logo">
        <a href="/">
          <img src="/images/logo.gif" alt="Crevision - Creative Template" />
        </a>
        </div>
      </div><!-- End Logo -->
      
      <div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
<!--            <li><a href="/about">About</a></li>-->
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div><!-- End Menu -->
      
      <div class="sixteen columns"><hr /></div>
      
    </div><!-- End Container -->
  </header><!-- <<< End Header >>> -->
  
  <div class="container clearfix">
  
  <div class="sixteen columns"> 
    {% if site.sitetitle %} 
      <!-- Page Title -->
      <h1 class="page-title">{{ site.sitetitle }}<span class="line"></span></h1>
    {% else %}
    <p> &nbsp;</p>
    {% endif %} 
   </div>
    
       {{content}}
      
  </div><!-- <<< End Container >>> -->
  
  <footer>
    <div class="container">
    
      <div class="eight columns">
        <div class="about">
          <h3 class="title">About Me<span class="line"></span></h3>
          <p>
              I work as Head of Development for an incredible company called <a href="http://www.adactus.co.uk/" target="_blank">Adactus</a>.
          </p>
          <p>
              I am fortunate to work with some insanely talented people, delivering large scale bespoke web, e-commerce and mobile applications. 
              We have also created the first cloud based insurance claims management system called 
              <a href="http://www.pulseclaims.com/" target="_blank">Pulse</a> and have ambitious plans to make it a market leading product. 
          </p>
        </div>
      </div><!-- End about -->
      
      <div class="eight columns">
        <div class="flickr">
          <h3 class="title">Flickr<span class="line"></span></h3>
          <ul id="footer" class="thumbs"></ul> <!-- Flickr Code -->
        </div>
      </div><!-- End flickr -->
      
      <div class="sixteen columns"><hr class="bottom" /></div>
      
      <div class="eight columns">
          <span class="copyright">
          © Copyright 2015. All Rights Reserved. 
          </span>
        </div>
      </div><!-- End container -->
  </footer><!-- <<< End Footer >>> -->
  
  </div><!-- End wrap -->
  
  <!-- Start JavaScript -->
  
     <!--
    <script src="/js/jquery-1.7.2.min.js"></script> 
    <script src="/js/jquery.prettyPhoto.js"></script> 
    <script src="/js/selectnav.js"></script> 
    <script src="/js/jquery.ui.totop.js"></script>
    <script src="/js/custom.js"></script> 
    <script src="/js/jflickrfeed.min.js"></script> 
    <script src="/js/twitter-flickr-options.js"></script>
    -->
    <script src="/js/generated.min.js"></script>
    
  <!-- End JavaScript -->

  <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
  <![endif]-->
      
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72008-1', 'auto');
      ga('send', 'pageview');

    </script>
      
</body>
</html>